:root {
          --section-bg-color: #e9e5e5;
          --sale-text-color: #d1d1d6;
          --nav-text-color: #353336;
          --secondary-color: #1d821d;
          --secondary-accent-color: #ecdb54;
          --cta-dark-color: #4b4949;
          --primary-font: "Readex pro", sans-serif;
          --headings-font: "Luxurious Roman", cursive;
          --secondary-font: "Readex pro", sans-serif;
          --content-font: "Jost", sans-serif;
          --logo-font: "Puppies Play", cursive;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,100&family=Readex+Pro:wght@200;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");
* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}
a {
          text-decoration: none;
          color: inherit;
}
/*************************  Navigation ************************/
body {
          /* font-family: "Poppins", sans-serif; */
}
.nav-container {
          width: 100%;
          font-family: var(--headings-font);
}
.nav-container a {
          text-decoration: none;
          color: #4b4949;
          transition: 0.5s;
          font-weight: 500;
}
.nav-container a:hover {
          color: var(--secondary-color);
}
.sale {
          width: 100%;
          height: 30px;
          background-color: #353336;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          font-size: 13px;
          font-weight: thin;
          text-transform: capitalize;
}
.sale a {
          color: var(--sale-text-color);
}
.shop {
          margin-left: auto;
          margin-right: 20px;
}
.januar-salg {
          margin-right: auto;
          margin-left: 20px;
}

.first-nav {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          height: 80px;
          border-bottom: 0.6px solid #d1d1d6;
}
.first-nav i {
          font-size: 20px;
          color: var(--nav-text-color);
}

.first-left {
          margin-right: auto;
          margin-left: 20px;
}
.first-left i {
          margin-left: 10px;
          padding: 5px;
}
.first-right i {
          margin-right: 10px;
          padding: 5px;
}
.first-left i:hover,
.first-right i:hover {
          color: var(--secondary-color);
          transition: 0.3s;
          transform: scale(1.3);
}
.first-right {
          margin-left: auto;
          margin-right: 20px;
}
.first-center {
          font-weight: 900;
          font-size: 55px;
          font-family: var(--logo-font);
}
.first-center img {
          width: 45px;
          height: auto;
          background-color: var(--secondary-accent-color);
          padding: 5px;
          margin-right: 10px;
          border-radius: 0.5px;
}

.last-nav {
          display: flex;
          height: 50px;

          box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.3);
}

.nav-list {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
}
.nav-link {
          list-style: none;
          transition: all 0.9;
}

.nav-link a {
          padding: 10px 20px;
}
.nav-link:hover {
          transform: scale(1.2);
}
.nav-link:first-of-type {
          margin-left: -35px;
}
.nav-link:last-of-type {
          transition: 0.5 all;
          margin-right: -35px;

          outline: 1px solid var(--secondary-accent-color);
          box-shadow: 2px 2-px 2px var(--secondary-accent-color);
}
.nav-link:last-of-type:hover {
          transform: scale(0.955);
          box-shadow: none;
          background-color: transparent;
}

.nav-link:last-of-type {
          padding: 8px 14px;
}
/*************************   hero intro heading ************************/

.hero-heading-intro {
          width: 100%;
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          font-family: "Jost", sans-serif;
          overflow: hidden;
}

.hero-content {
          margin-top: 100px;
          position: absolute;
          width: 50vw;
          height: 50vh;
          top: 50%;
          right: 10%;
          transform: translate(20%, -50%);
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: center;
}
.hero-face {
          position: absolute;
          left: 50px;
          top: 200px;
}
.slogan {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          text-transform: capitalize;
}
.slogan h1 {
          font-size: 50px;
          margin-bottom: 30px;
          font-weight: 500;
          font-family: var(--headings-font);
}
.slogan h1 .saleOff {
          color: #995d15;
}
.slogan h4 {
          line-height: 20px;
          font-size: 25px;
          font-weight: lighter;
          margin-bottom: 30px;
          font-weight: 300;
          font-family: var(--content-font);
}

.hero-cta {
          height: auto;
          max-width: 80%;
          display: flex;
          border-radius: 0.5px;
          padding: 3px;
          text-align: center;
          justify-content: center;
          margin: 60px auto auto 100px;
          align-items: center;
}

.hero-btn {
          font-family: var(--content-font);
          padding: 15px 20px;
          cursor: pointer;
          transition: 0.5s;
          font-weight: 300;
          font-size: 18px;
          text-transform: uppercase;
          border: none;
          outline: none;

          color: #4b4949;
}

.shop-btn {
          margin-right: 50px;
          background-color: #e3a253;

          color: #0c0c0c;
}
.browse-btn {
          margin-left: auto;
          background-color: var(--cta-dark-color);
          outline: 2px solid var(--cta-dark-color);
          border: none;
          color: #fefefe;
}
.shop-btn:hover {
          background-color: transparent;
          outline: 2px solid #995d15;
          transform: scale(0.955);
          color: #995d15;
}
.browse-btn:hover {
          background-color: #fefefe;
          outline: 2px solid var(--cta-dark-color);
          border: none;
          color: var(--cta-dark-color);
          transform: scale(0.955);
}

/*************************  Brand info   ************************/

.brand-container {
          width: 90vw;
          height: 100vh;
          margin: 100px auto 50px auto;
          background-image: url(/images/hor-bg.jpg);
          background-position: 100% 0%;
          background-repeat: no-repeat;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
}
.brand-info {
          text-align: center;
          width: 50%;
          position: absolute;
          top: 30%;
          left: 10%;
}

.brand-content {
          margin-top: 50px;
}
.brand-content p {
          line-height: 35px;
          color: #4b4949;
          font-family: var(--content-font);
          font-size: 18px;
          text-transform: capitalize;
}
.brand-content p:first-child::first-letter {
          color: #0c0c0c;
          initial-letter: 2;
          font-size: 50px;
          padding-right: 1px;
          font-family: var(--headings-font);
}
.brand-content .fa {
          color: #fefefe;
          margin-top: 60px;
          margin-left: 10px;
}
.brand-content a {
          text-decoration: none;
          color: #fefefe;
          padding: 10px 18px;
          transition: 0.5s;
          border: 2px solid var(--cta-dark-color);
          background-color: var(--cta-dark-color);
}
.brand-content a:hover {
          color: #353336;
          background-color: #fefefe;
          transform: scale(0.955);
}
.brand-content a:hover .fa {
          color: var(--cta-dark-color);
}
/*************************  best-selling products +  categories  ************************/

.hero-best-selling,
.products {
          margin: 0 auto;
          position: relative;
          width: 96%;
          margin: 0 auto;
}
.categories-section {
          height: 100vh;
          margin-bottom: 100px;
}
.hero-best-selling {
          margin-top: 0;
          background-color: #fefefe;
}
.section-title {
          font-family: var(--headings-font);
          font-size: 35px;
          font-weight: 400;
          padding: 100px 0;
          display: block;
          text-transform: capitalize;
          text-align: center;
}

.product-container {
          width: 90%;
          display: flex;
          justify-content: space-around;
          height: 60vh;
          position: relative;
          margin: 0 auto;
}
.product-card {
          position: relative;
          width: 400px;
          height: 400px;
          overflow: hidden;
          transition: 0.5s;
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.3);
}
.visible-tag {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: transparent;
          z-index: 100;
          color: #fefefe;
          text-transform: uppercase;
          transition: 0.2s;
          letter-spacing: 5px;
          width: 80%;
}
.product-card:hover .visible-tag {
          z-index: -10;
}
.link-tag {
          text-decoration: none;
          font-size: 15px;
          color: #fefefe;
}
.product-card img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0.6;
}
.product-img {
          filter: brightness(45%);
          transition: all 0.8s;
}

.product-card:hover {
          border: 0px solid transparent;
}
.product-card:hover img {
          transform: scale(1.3);
          opacity: 1;
}

.product-view {
          position: absolute;
          color: #fefefe;
          text-transform: capitalize;
          font-family: "Readex pro", Arial, Helvetica, sans-serif;
          font-size: 18px;
          bottom: 20px;
          left: 100%;
          transform: translateX(-70%);
          opacity: 0;
          transition: 0.5s;
          width: 100%;
          text-transform: capitalize;
          background: #e3a253;
          z-index: 100;
}
.product-view i {
          margin-left: 5px;
}
.product-card:hover .product-view {
          opacity: 1;
          padding: 5px;
          padding: 16px;
}

.product-card:hover .product-img {
          opacity: 0.5;
          filter: brightness(100%);
}
/*************************  image-collage section + animation  ************************/

.image-collage-section {
          width: 100%;
          height: 600px;
          padding: 50px 5vw;
}

.image-collage {
          position: relative;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-color: #f4e78a;
          background-image: url(../images/collage-bg.jpg);
          background-blend-mode: multiply;
          background-position-y: center;
          background-repeat: no-repeat;
          transition: 3s;
          animation-name: animate-bg;
          animation-direction: alternate-reverse;
          animation-duration: 30s;
          animation-fill-mode: forwards;
          animation-iteration-count: infinite;
          animation-play-state: running;
          animation-timing-function: ease-in-out;
}
.fade-right,
.fade-left {
          position: absolute;
          font-family: "Poppins", sans-serif;
          font-size: 90px;
          opacity: 0.4;
          z-index: 100;
          text-transform: capitalize;
}
.fade-left {
          top: 5px;
          left: 5px;
          letter-spacing: 10px;
}
.fade-right {
          bottom: 5px;
          right: 5px;
}

.image-collection {
          position: relative;
          display: block;
          width: 70%;
          height: 100%;
          background: var(--secondary-accent-color);
          margin: auto;
}

.collage-img {
          transition: 0.5s;
          position: absolute;
          object-fit: cover;
}
.collage-img:nth-child(1) {
          width: 350px;
          height: 350px;
          top: 20px;
          left: 200px;
}
.collage-img:nth-child(2) {
          width: 280px;
          height: 280px;
          top: 200px;
          left: 350px;
}
.collage-img:nth-child(3) {
          width: 250px;
          height: 250px;
          top: 100px;
          left: 500px;
}

.collage-img:hover {
          transform: translateY(-12px);
          z-index: 100;
          outline: 10px solid #995d15;

          transition: 0.5s;
}
/*************************  hero-info section  ************************/
.hero-info {
          width: 100%;
          height: 600px;
          padding: 40px 5vw;
}
.info-container {
          width: 90%;
          height: 100%;
          position: relative;
          padding: 40px;
          margin: 0 auto;
          background-size: cover;
          background-color: #0c0c0c;
          mix-blend-mode: overlay;
}
.info-image {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          object-fit: cover;
}
.heading-info {
          width: 50%;
          height: 100%;
          background-color: #fefefe;
          display: block;
          margin-left: auto;
          padding: 50px;
          text-align: center;
          font-family: "Poppins", sans-serif;
          font-weight: lighter;
}
.title {
          font-size: 40px;
          line-height: 60px;
          margin-bottom: 20px;
          font-family: var(--headings-font);
          text-transform: capitalize;
}
.title span {
          color: #1d821d;
}

.heading-info p {
          font-family: var(--content-font);
          color: #4b4949;
          font-size: 18px;
          line-height: 34px;
          text-transform: capitalize;
}
#info-btn {
          margin-top: 25px;
          padding: 10px 15px;
}
/************************* reviews section ************************/
.review-section {
          padding: 20px 5vw 40px;
          height: 100vh;
          color: #fefefe;
          background: #353336;
          margin-bottom: 50px;
}
.review-section .section-title {
          margin-left: 0;
          font-size: 35px;
          font-weight: 400;
          font-family: var(--headings-font);
          text-transform: capitalize;
}
.review-container {
          margin: 50px;
          margin-bottom: 0;
          display: flex;
          justify-content: space-between;
}

.review-card {
          width: 250px;
          height: auto;
          font-family: "Readex Pro", sans-serif;
}

.user-dp {
          width: 100px;
          height: 100px;
          position: relative;
          border-radius: 50%;
          cursor: pointer;
          margin-bottom: 30px;
}
.user-dp img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 50%;
}
.user-dp::before {
          content: "";
          position: absolute;
          top: 10px;
          left: 10px;
          right: 10px;
          bottom: 10px;
          border: 4px solid var(--secondary-accent-color);
          border-radius: 50%;
          transition: ease-in 0.3s;
}
.user-dp:hover::before {
          content: "";
          position: absolute;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          border: 4px solid var(--secondary-accent-color);
          border-radius: 50%;
          filter: contrast(1.75);
}
.user-dp::after {
          content: attr(data-rating);
          position: absolute;
          bottom: 0;
          right: -20px;
          padding: 5px 10px;
          border-radius: 20px;
          background: var(--secondary-accent-color);
          transition: all 0.8;
          color: #353336;
}
.user-dp:hover.user-dp::after {
          transform: scale(1.2);
          transition: all 0.8;
}
.review-title {
          font-size: 20px;
          text-transform: capitalize;
          line-height: 30px;
          font-weight: 500;
          position: relative;
          margin-bottom: 10px;
          font-family: "Jost", sans-serif;
}

.review-title::before {
          content: "";
          position: absolute;
          left: -20px;
          top: 5px;
          height: 70%;
          background: #4b4949;
          border: 2px solid var(--secondary-accent-color);
}
.section-title span {
          color: #1d821d;
          font-weight: 500;
}
.review {
          opacity: 0.5;
}
/************************* END section ************************/

.end-section {
          height: 80vh;
          width: 90%;
          margin: 0 auto;
          padding: 0px 5vw 50px 5vw;
          margin-bottom: 50px;
}
.end-container {
          height: 500px;
          position: relative;
          box-shadow: -1px -0.2px 2px #aaaaaa;
          margin-top: 0;
}
.end-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          position: absolute;
          top: 0;
          left: 0;
}
.end-info .title {
          text-align: center;
}
.end-info .info {
          text-align: center;
          margin-right: 0;
}
#end-btn {
          text-align: center;
          margin-top: 35px;
          justify-self: center;
}
/************************* footer ************************/
footer {
          height: 5vh;
          background-color: #353336;
          color: #fefefe;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "Readex Pro", sans-serif;
          text-transform: capitalize;
}

/************************* backup in case products page broke ************************/

.product-section {
          position: relative;
          overflow: hidden;
          padding: 20px 0;
          font-family: "Readox pro", sans-serif;
}
.free-shipping {
          position: absolute;
          left: 45%;
          font-family: var(--content-font);
          bottom: 10px;
          color: #4b4949;
          text-transform: capitalize;
          padding-bottom: 5px;
          border-bottom: 1px solid #4b4949;
}
.product-wrapper {
          margin: 50px auto;
          padding: 0 10vw;
          display: flex;
          overflow-x: hidden;
          scroll-behavior: smooth;
}
.product-wrapper::-webkit-scrollbar {
          display: none;
}
.product_card {
          flex: 0 0 auto;
          width: 250px;
          height: 450px;
          margin-right: 40px;
}
.product-img {
          position: relative;
          width: 100%;
          height: 350px;
          overflow: hidden;
}
.product-thumb {
          width: 100%;
          height: 350px;
          object-fit: cover;
}

.discount-tag {
          position: absolute;
          background: #fefefe;
          padding: 5px;
          border-radius: 5px;
          color: #e3a253;
          color: #f41414;
          right: 10px;
          top: 10px;
          text-transform: capitalize;
}

.card-btn {
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translateX(-50%);
          padding: 10px;
          width: 90%;
          text-transform: capitalize;
          border: none;
          outline: none;
          background: #fefefe;
          border-radius: 5px;
          transition: 0.5s;
          cursor: pointer;
          opacity: 0;
}

.product_card:hover .card-btn {
          opacity: 1;
}

.card-btn:hover {
          background: #b8b8b8;
}

.product_info {
          width: 100%;
          height: 100px;
          padding-top: 10px;
}
.product_brand {
          text-transform: uppercase;
          font-family: var(--headings-font);
          font-weight: 500;
}
.product_description {
          width: 100%;
          height: 20px;
          line-height: 20px;
          overflow: hidden;
          opacity: 0.5;
          text-transform: capitalize;
          margin: 5px 0;
          font-family: var(--content-font);
}

.product-price {
          font-weight: 900;
          font-size: 20px;
}

.actual-price {
          margin-left: 20px;
          opacity: 0.5;
          text-decoration: line-through;
          color: #f41414;
}
.pre-btn,
.nxt-btn {
          position: relative;
          border: none;
          width: 10vw;
          height: 100%;
          position: absolute;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 0) 0%,
                    #fefefe 100%
          );
          z-index: 10;
}
.pre-btn i,
.nxt-btn i {
          width: 10px;
          height: 10px;
          font-size: 30px;
          color: #353336;
          opacity: 0.6;
          transition: 0.5s;
          position: absolute;
}
.pre-btn i {
          top: 40%;
          left: 50%;
}
.nxt-btn i {
          top: 57%;
          right: 50%;
}
.pre-btn {
          left: 0;
          transform: rotate(180deg);
}

.nxt-btn {
          right: 0;
}

.pre-btn:hover i,
.nxt-btn:hover i {
          opacity: 1;
}

.sale-section {
          margin-bottom: 100px;
}
